.spinner-container {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 27%;
}

.custom-info-window {
    font-family: Arial, sans-serif;
    background-color: #4285F4;
    color: white;
    padding: 10px;
    border-radius: 9px;

    .info-content img{
        height: 20px;
    }
  }
  
  .custom-info-window .info-content {
    margin: 2px 0;
    font-size: 14px;
    font-weight: bold;
  }
  