.data-list-container {
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    .v-data-headings {
        font-weight: bold;
    }

    .vehicle-data {
        display: flex;
        flex-direction: row;
        background-color: #f8f9fa;  
        vertical-align: bottom;   
        cursor: pointer;
        padding: 2px 3px;

        
        .v-data-item {
            flex-basis: 25%;
            padding: 2px 4px;
        }

        .v-type {
            text-transform: capitalize;
        }

        .v-reg-number, .v-loc-time {
            text-transform: uppercase;
        }

        .v-data-item:nth-child(5) {
            text-align: right;
        }
      
        .data-icon {
            margin-right: 5px;
            color: grey;
        }

        .details-btn {
            padding: 2px 15px;
            border: none;
            font-size: 11px;
            background-color: #C0C0C0;
            color: #fff;
            margin-right: 6px;

            &:hover {
                background-color: orange;
            }
        }

        &:hover {
            background-color: #F5F5F9; 
        }
    }
}

@media screen and (max-width: 600px) {
    #dashboard-page-container {
        .content-list {
            .data-list-container {
                row-gap: 15px;
                box-shadow:none;

                .v-data-headings {
                    display: none;
                }
                
                .vehicle-data { 
                    flex-direction: column;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


                    .v-data-item {
                        padding-bottom: 3px;
                        border-bottom: 1px solid  rgba(149, 157, 165, 0.5);  

                        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                            padding-left: 17px;
                        }

                        &:nth-child(5) {
                            text-align: left;
                        }
                    }
                 }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    #dashboard-page-container {
        .mobile-icon {
            display: none;
        }

    }
}





