<div class="data-list-container">

    <div class="vehicle-data">
        <div class="v-reg-number v-data-item"> 
            <fa-icon class="card-icon" [icon]="['fas', 'car']"></fa-icon> 12 db 55 gp
        </div>
        <div class="v-location v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'location-dot']"></fa-icon> -335, 122
        </div>
        <div class="v-loc-time v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'clock']"></fa-icon> 14:32pm
        </div>
        <div class="v-details-btns v-data-item">
            <input type="button" class="details-btn" name="v-details" value="ROUTES"/>
        </div>
    </div>

    <div class="vehicle-data">
        <div class="v-reg-number v-data-item"> 
            <fa-icon class="card-icon" [icon]="['fas', 'car']"></fa-icon> 12 db 55 gp
        </div>
        <div class="v-location v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'location-dot']"></fa-icon> -335, 122
        </div>
        <div class="v-loc-time v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'clock']"></fa-icon> 14:32pm
        </div>
        <div class="v-details-btns v-data-item">
            <input type="button" class="details-btn" name="v-details" value="ROUTES"/>
        </div>
    </div>

    <div class="vehicle-data">
        <div class="v-reg-number v-data-item"> 
            <fa-icon class="card-icon" [icon]="['fas', 'car']"></fa-icon> 12 db 55 gp
        </div>
        <div class="v-location v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'location-dot']"></fa-icon> -335, 122
        </div>
        <div class="v-loc-time v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'clock']"></fa-icon> 14:32pm
        </div>
        <div class="v-details-btns v-data-item">
            <input type="button" class="details-btn" name="v-details" value="ROUTES"/>
        </div>
    </div>

    <div class="vehicle-data">
        <div class="v-reg-number v-data-item"> 
            <fa-icon class="card-icon" [icon]="['fas', 'car']"></fa-icon> 12 db 55 gp
        </div>
        <div class="v-location v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'location-dot']"></fa-icon> -335, 122
        </div>
        <div class="v-loc-time v-data-item">
            <fa-icon class="card-icon" [icon]="['fas', 'clock']"></fa-icon> 14:32pm
        </div>
        <div class="v-details-btns v-data-item">
            <input type="button" class="details-btn" name="v-details" value="ROUTES"/>
        </div>
    </div>

</div>
