<div *ngIf="status == 'ready'" class="data-list-container">

    <div class="vehicle-data v-data-headings">

        <div class="v-reg-number v-data-item"> 
            <fa-icon class="data-icon" [icon]="['fas', 'id-card-clip']"></fa-icon>  REG NO.
        </div>
        <div class="v-location v-data-item">
            <fa-icon class="data-icon" [icon]="['fas', 'location-dot']"></fa-icon>  LOCATION
        </div>
        <div class="v-loc-time v-data-item">
            <fa-icon class="data-icon" [icon]="['fas', 'clock']"></fa-icon>  TIME STEMP
        </div>

        <div class="v-loc-time v-data-item">
            <fa-icon class="data-icon" [icon]="['fas', 'car']"></fa-icon>  VEHICLE TYPE
        </div>
        <div class="v-details-btns v-data-item">
            <fa-icon class="data-icon" [icon]="['fas', 'location-arrow']"></fa-icon> 
            ROUTE PATH
        </div>
    </div>

    <div *ngFor="let vehicle of data; let i = index " class="vehicle-data">
        
        <div (click)="setSelectedVehicleId(vehicle.id)" class="v-reg-number v-data-item v-data-content"> 
            <b>{{i+1 }}. </b>
            <fa-icon class="data-icon mobile-icon" [icon]="['fas', 'id-card-clip']"></fa-icon> 
            {{vehicle.vehicleRegNo}}
        </div>
        <div (click)="setSelectedVehicleId(vehicle.id)" class="v-location v-data-item v-data-content">
            <fa-icon class="data-icon  mobile-icon" [icon]="['fas', 'location-dot']"></fa-icon> 
         {{vehicle.location.at(-1).position.lat}},  {{vehicle.location.at(-1).position.lng}}
        </div>
        <div (click)="setSelectedVehicleId(vehicle.id)" class="v-loc-time v-data-item v-data-content">
            <fa-icon class="data-icon  mobile-icon" [icon]="['fas', 'clock']"></fa-icon>
            {{vehicle.location.at(-1).locTime}} {{+vehicle.location.at(-1).locTime.substring(0,2) < 12 ? ' am ' : ' pm '}} 
        </div>

        <div (click)="setSelectedVehicleId(vehicle.id)" class="v-type v-data-item v-data-content">
            <fa-icon class="data-icon  mobile-icon" [icon]="['fas', 'car']"></fa-icon>
           {{ (vehicle.vehicleType == 1 ? ' bakkie ' : ' track ')}}
       </div>
        <div class="v-details-btns v-data-item v-data-content">
            <input type="button" class="details-btn" name="v-details" value="ROUTE" onclick=""/>
        </div>
    </div>
</div>

<div *ngIf="this.status == 'error' ">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry!</strong> something went wrong in the server.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>
