
<!-- search component -->
<app-search-filter (searchStringEvent)="searchVehicle($event)"> </app-search-filter>

<!-- vehicles list -->
<div *ngIf="errorStatus == false; else serverError"  class="data-list-container">
    
    <div *ngIf="vehicles?.length != 0; else noItemFound">

        <div class="vehicle-data v-data-headings">
            <div class="v-reg-number v-data-item"> 
                <fa-icon class="data-icon" [icon]="['fas', 'id-card-clip']"></fa-icon>  REG NO.
            </div>
            <div class="v-location v-data-item">
                <fa-icon class="data-icon" [icon]="['fas', 'location-dot']"></fa-icon>  LOCATION
            </div>
            <div class="v-loc-time v-data-item">
                <fa-icon class="data-icon" [icon]="['fas', 'clock']"></fa-icon>  TIME STEMP
            </div>
    
            <div class="v-loc-time v-data-item">
                <fa-icon class="data-icon" [icon]="['fas', 'car']"></fa-icon>  VEHICLE TYPE
            </div>
            <div class="v-details-btns v-data-item">
                <fa-icon class="data-icon" [icon]="['fas', 'location-arrow']"></fa-icon> 
                ROUTE PATH
            </div>
        </div>

        <div *ngFor="let vehicle of vehicles; let i = index " class="vehicle-data">
            
            <div  class="v-reg-number v-data-item v-data-content" (click)="locateVehicle(vehicle.id)"> 
                <b>{{i+1 }}. </b>
                <fa-icon class="data-icon mobile-icon" [icon]="['fas', 'id-card-clip']"></fa-icon> 
                {{vehicle.vehicleRegNo}}
            </div>

            <div  class="v-location v-data-item v-data-content"  (click)="locateVehicle(vehicle.id)">
                <fa-icon class="data-icon  mobile-icon" [icon]="['fas', 'location-dot']"></fa-icon> {{vehicle.location.at(-1).position.lat}},  {{vehicle.location.at(-1).position.lng}}
            </div>
            
            <div  class="v-loc-time v-data-item v-data-content"  (click)="locateVehicle(vehicle.id)">
                <fa-icon class="data-icon  mobile-icon" [icon]="['fas', 'clock']"></fa-icon> {{vehicle.location.at(-1).locTime}} {{+vehicle.location.at(-1).locTime.substring(0,2) < 12 ? ' am ' : ' pm '}} 
            </div>

            <div  class="v-type v-data-item v-data-content"  (click)="locateVehicle(vehicle.id)">
                <fa-icon class="data-icon  mobile-icon" [icon]="['fas', 'car']"></fa-icon>{{ (vehicle.vehicleType == 1 ? ' bakkie ' : ' truck ')}}
            </div>

            <div class="v-details-btns v-data-item v-data-content" >
                <input type="button" class="details-btn" name="v-details" value="LOCATE" (click)="locateVehicle(vehicle.id)" />
            </div> 

        </div>


    </div>

<!-- search result message -->
<ng-template #noItemFound>
    <div class="error-messages" >
        <fa-icon class="data-icon" size="xl" [icon]="['fas', 'circle-exclamation']"></fa-icon> Sorry, no item found.
    </div>
</ng-template>

</div>

<!-- server error message -->
<ng-template #serverError>
    <div class="error-messages" >
        <fa-icon class="data-icon" size="xl" [icon]="['fas', 'circle-exclamation']"></fa-icon> {{ this.errorMessage}}.
    </div>
</ng-template>
