<div class="data-filters-container">
    <form>
        <div class="row g-2">
            <div class="col-sm">
              <input type="search" id="search-field" name="search-field" (keyup)="search(searchKeyWord.value)"  #searchKeyWord  class="form-control form-control-sm search-field" placeholder="&#xF002;">
            </div>

            <div class="col-sm-2">
              <input type="button" id="search-btn" name="search-btn" (click)="search(searchKeyWord.value)" class="form-control form-control-sm search-btn" value="SEARCH" >
              
            </div>
            <div class="col-sm-2">
                <input type="reset" id="clear-btn" name="clear-btn" (click)="search('')" class="form-control form-control-sm clear-btn"  value="CLEAR">
            </div>
          </div>
    </form>
    
</div>
