<div class="data-filters-container">
    <form>
        <div class="row g-2">
            <div class="col-sm">
              <input type="search" id="search-field" name="search-field"  #searchKeyWord  class="form-control form-control-sm search-field" placeholder="&#xF002; Keyword">
            </div>

            <div class="col-sm-2">
              <input type="button" id="button-btn" name="button-btn" (click)="search(searchKeyWord.value)" class="form-control form-control-sm search-btn" value="SEARCH" >
              
            </div>
            <div class="col-sm-2">
                <input type="reset" class="form-control form-control-sm clear-btn" (click)="search('')" value="CLEAR">
            </div>
          </div>
    </form>
    
</div>
